<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/dist/css/reset.min.css" />
    <link rel="stylesheet" href="/dist/css/font.min.css" />
    <link rel="stylesheet" href="/dist/css/helper.min.css" />
    <link rel="stylesheet" href="/dist/css/standard-modal.min.css" />
    <link rel="stylesheet" href="/dist/css/authentification.min.css" />
    <link rel="stylesheet" href="/dist/css/check-mail.min.css" />
    <title>modal</title>
  </head>
  <body>
    <div class="modal-backdrop">
      <!-- here is backdrop -->
    </div>
    <div class="standard-modal">
      <div class="standard-modal__header">
        <div class="standard-modal__logo">
          <!-- here is background image -->
        </div>

        <img
          src="/assets/images/x.svg"
          alt="Close icon"
          class="standard-modal__close-icon"
        />

        <div class="language-dropdown standard-modal__language-dropdown">
          <div class="language-dropdown__box">
            EN

            <button
              class="language-dropdown__arrow standard-modal__language-dropdown-arrow"
            >
              <img src="/assets/images/arrow.svg" alt="arrow" />
            </button>
          </div>

          <div
            class="language-dropdown__list standard-modal__language-dropdown-list"
          >
            <div class="language-dropdown__item">
              <div class="language-dropdown__item--backdrop"></div>
              <div class="language-dropdown__item--holder">
                English
              </div>
            </div>

            <div class="language-dropdown__item">
              <div class="language-dropdown__item--holder">
                Russian
              </div>
            </div>

            <div class="language-dropdown__item">
              <div class="language-dropdown__item--holder">
                Language
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="check-mail">
        <h2>
          Sent! check your inbox
        </h2>

        <p class="check-mail__message">
          a text massage with a 4-digit code was sent to +1 ******* 5369 Plese
          enter it in boxes below
        </p>

        <div class="check-mail__inputs-parent">
          <div class="check-mail__inputs-holder">
            <div
              class="check-mail__input-holder check-mail__input-holder--line"
            >
              <input class="check-mail__input" type="text" maxlength="1" />
            </div>

            <div class="check-mail__input-holder">
              <input class="check-mail__input" type="text" maxlength="1" />
            </div>

            <div class="check-mail__input-holder">
              <input class="check-mail__input" type="text" maxlength="1" />
            </div>

            <div class="check-mail__input-holder">
              <input class="check-mail__input" type="text" maxlength="1" />
            </div>
          </div>

          <p
            class="error-message error-message--active check-mail__input-error"
          >
            *The code you have entered doesen’t match the code in email. Please
            try again
          </p>
        </div>

        <p class="check-mail__timer-text">
          didn’t receive the code?
        </p>

        <div class="check-mail__timer-parent">
          <a href="#">Resend code</a>
          <span class="check-mail__timer">
            29 sek
          </span>
        </div>

        <div class="check-mail__buttons-holder">
          <button class="button check-mail__button check-mail__button--diff">
            back
          </button>
          <button class="button button--primary check-mail__button">
            next
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
