.conditions {
  &__modal {
    max-width: 704px;
    width: 100%;
    max-height: 528px;
    height: 100%;
  }

  &__title {
    margin: 18px 0 14px;
    font-family: "russoone", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__text {
    width: 634px;
    max-height: 373px;
    height: 100%;
    padding: 0 3px;
    overflow-y: auto;
    font-family: "notosansjp", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.05em;
    color: #ffffff;

    &::-webkit-scrollbar {
      width: 5px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.3);
      border-radius: 100px;
    }
  }
}
