<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/dist/css/reset.min.css" />
    <link rel="stylesheet" href="/dist/css/font.min.css" />
    <link rel="stylesheet" href="/dist/css/helper.min.css" />
    <link rel="stylesheet" href="/dist/css/standard-modal.min.css" />
    <link rel="stylesheet" href="/dist/css/authentification.min.css" />
    <link rel="stylesheet" href="/dist/css/congratulation.min.css" />
    <title>modal</title>
  </head>
  <body>
    <div class="modal-backdrop">
      <!-- here is backdrop -->
    </div>
    <div class="standard-modal congratulation">
      <div class="standard-modal__header">
        <div class="standard-modal__logo">
          <!-- here is background image -->
        </div>

        <img
          src="/assets/images/x.svg"
          alt="Close icon"
          class="standard-modal__close-icon"
        />
      </div>

      <div class="congratulation__content">
        <h2>
          congratulation!
        </h2>

        <h6 class="congratulation__subtext">
          You are almoust ready to start Winning
        </h6>

        <h4 class="congratulation__text">
          We’ve sent you an email with confirmation link. Plese folow the link
          to complete registration
        </h4>

        <button class="button button--primary congratulation__button">
          OKAY
        </button>
      </div>
    </div>
  </body>
</html>
