.login-reminde {
  width: 100%;
  height: 100%;
  padding: 0 32px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  & > h2 {
    font-family: "russoone";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__message {
    max-width: 308px;
    width: 100%;
    display: none;
    position: absolute;
    top: 33px;
    font-family: "russoone";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;

    &--active {
      display: flex;
    }
  }

  &__inputs-parent {
    width: 100%;
    height: 100%;
    margin-top: 59px;
  }

  &__input-holder {
    width: 100%;
    margin: 19px 0;
    display: flex;
    flex-direction: row;
    align-items: center;

    &:last-child {
      margin-top: 38px;
    }
  }

  &__input-check {
    width: 22px;
    height: 22px;
    margin-right: 19px;
    border-radius: 100%;
    border: 1.5px solid #ffffff;
    box-sizing: border-box;

    &--active {
      position: relative;

      &::before {
        width: 10px;
        height: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: "";
        background-color: #ffffff;
        border-radius: 100%;
      }
    }
  }

  &__input {
    max-width: 267px;
    width: 100%;
    height: 22px;
    padding: 2px 3px;
    font-family: "russoone";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #ffffff;
    border-radius: 1px;
    outline: none;
    border: none;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;

    &::placeholder {
      font-family: "russoone";
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      display: flex;
      align-items: center;
      letter-spacing: 0.05em;
      color: #ffffff;
    }
  }

  &__button {
    max-width: 198px;
    width: 100%;
    height: 36px;
    position: absolute;
    top: 259px;
    text-transform: uppercase;
  }

  &__button-holder {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 259px;
  }

  &__button-parent {
    position: relative;
  }

  &__button-diff {
    width: 142px;
    height: 36px;
    margin: 0 12px;
    text-transform: uppercase;

    &--send {
      background: linear-gradient(
        212.31deg,
        #254c64 -5.25%,
        rgba(25, 93, 102, 0) -5.24%,
        #2a5c75 87.09%
      );
      border: 1px solid #ffffff;
      box-sizing: border-box;
      border-radius: 80.2604px;
    }
  }

  &__none {
    display: none;
  }

  &__timer {
    display: none;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-family: "notosansjp";
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    letter-spacing: 0.05em;
    color: #ffffff;

    &--active {
      display: flex;
    }
  }
}
