<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/dist/css/reset.min.css" />
    <link rel="stylesheet" href="/dist/css/font.min.css" />
    <link rel="stylesheet" href="/dist/css/helper.min.css" />
    <link rel="stylesheet" href="/dist/css/standard-modal.min.css" />
    <link rel="stylesheet" href="/dist/css/authentification.min.css" />
    <link rel="stylesheet" href="/dist/css/new-password-succes.min.css" />
    <title>modal</title>
  </head>
  <body>
    <div class="modal-backdrop">
      <!-- here is backdrop -->
    </div>
    <div class="standard-modal">
      <div class="standard-modal__header">
        <div class="standard-modal__logo">
          <!-- here is background image -->
        </div>

        <img
          src="/assets/images/x.svg"
          alt="Close icon"
          class="standard-modal__close-icon"
        />

        <div class="language-dropdown standard-modal__language-dropdown">
          <div class="language-dropdown__box">
            EN

            <button
              class="language-dropdown__arrow standard-modal__language-dropdown-arrow"
            >
              <img src="/assets/images/arrow.svg" alt="arrow" />
            </button>
          </div>

          <div
            class="language-dropdown__list standard-modal__language-dropdown-list"
          >
            <div class="language-dropdown__item">
              <div class="language-dropdown__item--backdrop"></div>
              <div class="language-dropdown__item--holder">
                English
              </div>
            </div>

            <div class="language-dropdown__item">
              <div class="language-dropdown__item--holder">
                Russian
              </div>
            </div>

            <div class="language-dropdown__item">
              <div class="language-dropdown__item--holder">
                Language
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="new-password-succes">
        <h2 class="new-password-succes__title">
          congratulations!
        </h2>

        <p class="new-password-succes__text">
          Your password has been successfully changed
        </p>

        <button class="button button--primary new-password-succes__button">
          log in
        </button>
      </div>
    </div>
  </body>
</html>
