.password-reset {
  width: 100%;
  height: 100%;
  padding: 0 32px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  & > h2 {
    font-family: "russoone";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__message {
    max-width: 308px;
    width: 100%;
    display: none;
    position: absolute;
    top: 33px;
    font-family: "russoone";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;

    &--active {
      display: flex;
    }
  }

  &__input-holder {
    width: 100%;
    height: auto;
    margin-top: 157px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  &__input {
    width: 100%;
    border: none;
    border-radius: 1px;
    border-bottom: 1px solid #ffffff;
  }

  &__error-message {
    width: 100%;
    margin-top: 3px;
    display: none;
    font-family: "notosansjp";
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 0.05em;
    color: #ee9152;

    &--active {
      display: flex;
      justify-content: center;
    }
  }

  &__button {
    max-width: 198px;
    width: 100%;
    height: 36px;
    position: absolute;
    top: 259px;
    text-transform: uppercase;
  }

  &__text {
    position: absolute;
    top: 310px;
    font-family: "notosansjp";
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.05em;
    color: #ffffff;

    & > a {
      color: #ffffff;
      margin-left: 4px;
      text-decoration: underline;
    }
  }

  // second part
  &__inputs-parent {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 58px;
  }

  &__input-holder--second {
    width: 100%;
    height: auto;
    margin: 19px 0;
    display: flex;
    flex-direction: row;
  }

  &__input-check {
    width: 22px;
    height: 22px;
    margin-right: 19px;
    border-radius: 100%;
    border: 1.5px solid #ffffff;
    box-sizing: border-box;
    background-color: transparent;

    &--active {
      position: relative;

      &::before {
        width: 10px;
        height: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: "";
        background-color: #ffffff;
        border-radius: 100%;
      }
    }
  }

  &__input--second {
    max-width: 267px;
    width: 100%;
    height: 22px;
    padding: 2px 3px;
    font-family: "russoone";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #ffffff;
    border-radius: 1px;
    outline: none;
    border: none;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;

    &::placeholder {
      font-family: "russoone";
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      display: flex;
      align-items: center;
      letter-spacing: 0.05em;
      color: #ffffff;
    }
  }
}
