<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/dist/css/reset.min.css" />
    <link rel="stylesheet" href="/dist/css/font.min.css" />
    <link rel="stylesheet" href="/dist/css/helper.min.css" />
    <link rel="stylesheet" href="/dist/css/standard-modal.min.css" />
    <link rel="stylesheet" href="/dist/css/authentification.min.css" />
    <link rel="stylesheet" href="/dist/css/password-reset.min.css" />
    <title>modal</title>
  </head>
  <body>
    <div class="modal-backdrop">
      <!-- here is backdrop -->
    </div>
    <div class="standard-modal">
      <div class="standard-modal__header">
        <div class="standard-modal__logo">
          <!-- here is background image -->
        </div>

        <img
          src="/assets/images/x.svg"
          alt="Close icon"
          class="standard-modal__close-icon"
        />
      </div>

      <div class="password-reset">
        <h2>
          password reset
        </h2>

        <p class="password-reset__message password-reset__message--active">
          enter your username, email or mobile number to chanche your password
        </p>

        <div class="password-reset__input-holder">
          <input type="text" class="main-input password-reset__input" />

          <p
            class="password-reset__error-message password-reset__error-message--active"
          >
            The data you entered is incorreckt. Please, try again
          </p>
        </div>

        <button class="button button--primary password-reset__button">
          next
        </button>

        <p class="password-reset__text">
          For further assistance contact our
          <a href="#">
            Suppot Team
          </a>
        </p>
      </div>
    </div>
  </body>
</html>
