.password-reset {
  width: 100%;
  height: 100%;
  padding: 0 32px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  & > h2 {
    font-family: "russoone";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__message {
    max-width: 308px;
    width: 100%;
    display: none;
    position: absolute;
    top: 33px;
    font-family: "russoone";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;

    &--active {
      display: flex;
    }
  }

  &__input-holder {
    width: 100%;
    height: auto;
    margin-top: 157px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  &__input {
    width: 100%;
    border: none;
    border-radius: 1px;
    border-bottom: 1px solid #ffffff;
  }

  &__error-message {
    width: 100%;
    margin-top: 3px;
    display: none;
    font-family: "notosansjp";
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 0.05em;
    color: #ee9152;

    &--active {
      display: flex;
      justify-content: center;
    }
  }

  &__button {
    max-width: 198px;
    width: 100%;
    height: 36px;
    position: absolute;
    top: 259px;
    text-transform: uppercase;
  }

  &__text {
    position: absolute;
    top: 310px;
    font-family: "notosansjp";
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.05em;
    color: #ffffff;

    & > a {
      color: #ffffff;
      margin-left: 4px;
      text-decoration: underline;
    }
  }
}
