.sign-up {
  width: 100%;
  height: auto;
  margin-top: 36px;

  &__modal {
    max-width: 704px;
    width: 100%;
  }

  &__button-holder {
    height: 54px;
  }

  &__button {
    width: 475px;
  }

  &__button-backdrop {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(19, 36, 48, 0.3);
    box-shadow: inset 0px 0px 18px rgba(19, 36, 48, 0.27),
      inset 0px 0px 10px rgba(19, 36, 48, 0.15);
    border-radius: 0px 0px 0px 20px;
  }

  &__step-holder {
    width: 100%;
    padding-left: 32px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__step-text {
    position: absolute;
    top: -9px;
    right: 32px;
    font-family: "russoone", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__step {
    margin-right: 16px;
    font-family: "russoone", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__step-line {
    max-width: 578px;
    width: 100%;
    height: 1px;
    position: relative;
    background: #ffffff;
  }

  &__step-line-cursor {
    width: 7px;
    height: 7px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ffffff;
    border-radius: 100%;
    cursor: pointer;
  }

  &__content {
    width: 100%;
    margin-top: 5px;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__input-holder {
    max-width: 308px;
    width: 100%;
    height: auto;
    padding: 12px 0;
    margin: 0 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  &__input-title {
    margin-bottom: 2px;
    font-family: "russoone";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    color: #132430;
  }

  &__input {
    width: 100%;
    height: 28px;

    &::placeholder {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &__select-holder {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
  }

  &__input-button {
    width: 96px;
    margin-right: 10px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:last-child {
      margin-right: 0px;
    }

    &--active {
      border-color: #ffffff;
    }
  }

  &__content-bottom {
    width: 100%;
    margin-top: 19px;
    padding: 0 12px 18px;
    display: flex;
    flex-direction: column;
  }

  &__checkbox-parent {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__checkbox-box {
    width: 18px;
    height: 18px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 5px;
  }

  &__checkbox-box input:checked ~ .checkbox__buttons-checkmark {
    display: inline-block;
    left: 50%;
    top: 45%;
    width: 6px;
    height: 10px;
    border: solid #ffffff;
    border-width: 0 1.5px 1.5px 0;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &__checkbox-box input:checked ~ .checkbox__buttons-checkmark--active::after {
    display: inline-block;
    left: 50%;
    top: 40%;
    width: 6px;
    height: 10px;
    border: solid #ffffff;
    border-width: 0 1.5px 1.5px 0;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &__checkbox-text {
    margin-left: 16px;
    font-family: "russoone", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #ffffff;

    & > a {
      margin: 0 6px;
      color: #ffffff;
      text-decoration: underline;
    }
  }

  &__content-bottom-text {
    margin: 11px 0 13px;
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 14px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #ffffff;
  }

  &__content-bottom-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
  }

  &__content-button {
    width: 198px;
    height: 36px;
    font-family: "russoone", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #265358;
    background: linear-gradient(0deg, #428890, #428890);
    border-radius: 100px;

    &--active {
      color: #ffffff;
      background: linear-gradient(
          356.31deg,
          rgba(255, 0, 255, 0.19) 4.46%,
          rgba(12, 28, 42, 0) 132.9%
        ),
        linear-gradient(180deg, #3c8998 0%, #183d4d 57.81%, #102b2e 100%);
      box-shadow: 0px 0px 4.01302px #ffffff,
        4.01302px 4.81563px 20.0651px 0.802604px #da00fd,
        -1.60521px -1.60521px 12.0391px #00ffe0;

      &:focus {
        background: linear-gradient(
            356.31deg,
            rgba(255, 0, 255, 0.19) 4.46%,
            rgba(12, 28, 42, 0) 132.9%
          ),
          linear-gradient(180deg, #3c8998 0%, #183d4d 57.81%, #102b2e 100%);
        box-shadow: 0px 0px 4.01302px #ffffff,
          4.01302px 4.81563px 20.0651px 0.802604px #da00fd,
          -1.60521px -1.60521px 12.0391px #00ffe0,
          inset -3.21042px 3.21042px 6.42083px 4.01302px #002a33;
      }
    }
  }

  &__content-error-text {
    margin-top: 5px;
    font-family: "russoone", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.05em;
    color: #428890;

    &--inactive {
      display: none;
    }
  }
}
