.hashclash {
  display: flex;
  flex-direction: row;
  position: relative;
  pointer-events: none;

  &__sidebar {
    max-width: 160px;
    width: 100%;
    height: 100vh;
    position: relative;
    box-shadow: inset -6px 5px 12px #00b2ff;
    border-radius: 0px 20px 20px 0px;
  }

  &__sidebar-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
        67.24deg,
        rgba(255, 0, 255, 0.15) 28.51%,
        rgba(12, 28, 42, 0) 100.76%
      ),
      radial-gradient(127.46% 47.79% at 43.93% 52.21%, #009e6c 0%, #0c1a1d 100%);
    border-radius: 0px 20px 20px 0px;
    opacity: 0.4;
  }

  &__sidebar-content-holder {
    width: 100%;
    position: absolute;
    top: 143px;
    left: 0;
    pointer-events: all;
  }

  &__sidebar-icon {
    width: 17px;
    height: 17px;
    position: absolute;
    top: -98px;
    right: 24px;
    object-fit: contain;
    cursor: pointer;

    & path {
      stroke: white;
    }
  }

  &__sidebar-navigation {
    width: 100%;
    padding: 0 24px 0 15px;
  }

  &__sidebar-navigation-list {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;

    &:after {
      width: 160px;
      height: 2px;
      position: absolute;
      top: -24px;
      left: -18px;
      content: "";
      background: linear-gradient(
        270deg,
        rgba(24, 113, 123, 0) 0%,
        rgba(145, 244, 255, 0.3) 17.19%,
        rgba(145, 244, 255, 0.67) 100%
      );
    }
  }

  &__sidebar-navigation-link {
    padding: 11px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "russoone", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.05em;
    color: #ffffff;
    transition: 0.3s linear;

    &:hover {
      background: linear-gradient(91.15deg, #dbff00 20.3%, #74ff00 82.15%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &--active {
      background: linear-gradient(91.15deg, #dbff00 20.3%, #74ff00 82.15%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &:hover .hashclash__sidebar-navigation-link-icon path {
      // stroke: url(#grad1);
      fill: url(#grad1);
    }
  }

  &__sidebar-navigation-link-icon {
    margin-right: 14px;

    &--active path {
      fill: url(#grad1);
    }
  }

  &__content {
    // max-width: 1140px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 20px 75px 0 75px;
  }

  &__header {
    width: 100%;
    height: 52px;
    display: flex;
    flex-direction: row;
  }

  &__header-icon {
    width: 264px;
    height: 100%;
    object-fit: cover;
  }

  &__header-buttons {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    pointer-events: all;
  }

  &__header-button {
    margin: 0 8px;
    position: relative;
  }

  &__content-container {
    max-width: 700px;
    height: auto;
    margin-top: 40px;
    pointer-events: none;
    box-shadow: inset 3px 3px 25px 3px #00b2ff;
    border-radius: 20px;
  }

  &__content-container-title {
    margin: 0 auto;
    padding: 21px 0;
    font-family: "russone", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #ffffff;

    & > span {
      background: linear-gradient(91.15deg, #dbff00 20.3%, #74ff00 82.15%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__content-holder {
    padding-bottom: 12px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__content-container-bar-holder {
    width: 46px;
    height: 336px;
    margin-top: 24px;
    margin-left: 20px;
    margin-right: 34px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    pointer-events: all;
  }

  &__content-container-bar-span {
    margin-bottom: 17px;
    font-family: "russoone", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #ffffff;

    &--min {
      margin-bottom: 6px;
      margin-top: 7px;
    }
  }

  &__content-container-bar-help {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 22px;
    right: 4px;
    z-index: 2;
    cursor: pointer;
  }

  &__content-container-bar {
    width: 14px;
    height: 232px;
    display: flex;
    justify-content: center;
    position: relative;
    background: linear-gradient(
      180deg,
      #ff4d00 -5.16%,
      #ccff00 52.09%,
      #17ad54 87.21%
    );
    border-radius: 82.7447px;
  }

  &__content-container-bar-cursor {
    width: 28px;
    height: 20px;
    position: absolute;
    bottom: -1%;
    cursor: pointer;

    &--max {
      top: -1%;
    }
  }

  &__content-container-bar-button {
    width: 46px;
    padding: 3px;
    margin: 4px 0;
    font-family: "russoone", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 10px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
    background: linear-gradient(180deg, #2f6c61 0%, #133333 100%);
    box-shadow: 0px 0px 1.44218px #ffffff,
      -0.72109px -0.72109px 2.88436px #00ffe0,
      0.72109px 0.72109px 1.73062px #23fd00,
      inset 0.72109px -0.72109px 2.16327px 0.72109px rgba(40, 38, 63, 0.66),
      inset -0.72109px 0.72109px 3px rgba(0, 255, 194, 0.7);
    border-radius: 2.875px;
  }

  &__game {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__game-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  &__game-content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: all;
  }

  &__game-username {
    padding-top: 19px;
    font-family: "russoone", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__game-user-img {
    width: 88px;
    height: 88px;
    margin-top: 22px;
    margin-bottom: 24px;
    background-image: url("/assets/images/icon-unregistered.svg");
    background-size: contain;
  }

  &__game-button {
    width: 128px;
    height: 128px;
    background: linear-gradient(203.82deg, #0a6053 1.79%, #132431 84.68%);
    box-shadow: inset 4.01302px -4.99462px 4.99462px #096d5f,
      inset -4.01302px 4.01302px 8.02604px 1.60521px #0f2129;
    border-radius: 16.0521px;
  }

  &__game-content-divider {
    height: 78px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    box-shadow: inset -2px 3px 1px #114e4c;

    &--footer {
      height: 122px;
      margin-top: 23px;
      margin-left: 78px;
      margin-right: 43px;
    }
  }

  &__game-level {
    margin: 18px 0;
    font-family: "russoone", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__game-center-button {
    width: 152px;
    height: 152px;
    margin: 0 45px;
    background-color: transparent;
    border-radius: 10px;
    border: solid 2px white;
  }

  &__game-footer {
    margin-left: -35px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  &__game-footer-box {
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    align-items: self-end;
    pointer-events: all;
  }

  &__game-footer-box-text {
    margin-bottom: 20px;
    font-family: "russoone", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__game-footer-smile {
    width: 34px;
    height: 34px;
    margin-right: 18px;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }
  }

  &__game-footer-info {
    width: 275px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "russoone", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;

    &:first-child {
      margin-bottom: 33px;
    }
  }

  &__footer {
    max-width: 1072px;
    width: 100%;
    height: auto;
  }

  &__footer-box {
    position: relative;
  }
}
